// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.top-header {
  margin:15% 0 auto;
  text-align:center;
  
}

.top-text {
  text-align:center;
}

.button{
  text-decoration: none;
  display:inline-block;
  margin:10px 0;
  padding:5px 10px;
  border-radius:20%;
  background-color: #6666ff;
  color:white;
  cursor:pointer;
}

.button:hover {
  color         : #6666ff;
  background    : #ffffff;
}

table th{
  
}
